name: C++ Tests

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Dependencies
      run: sudo apt-get update && sudo apt-get install -y cmake g++ libgtest-dev

    - name: Build Project
      run: |
        mkdir build
        cd build
        cmake ..
        make

    - name: Run Tests
      run: ./build/runTests
